@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf) format('opentype');
}

:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', cursive;
    --fonte-sora: 'Sora', cursive;
    --fonte-destaque: 'FonteLogo', cursive;   
}

* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor0);
}

.top-header {
    background-color: #fff;
    padding: 20px 4%;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

.top-header .logotipo img {
    max-width: 150px;
}

.top-header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header .btn-header button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.top-header .btn-header button a {
    color: var(--cor1);
    font-size: 20px;
}

.top-header .btn-header button a:hover {
    color: var(--cor2);
}

/* INICIO BOTTOM HEADER */
.bottom-header nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bottom-header nav ul li a {
    color: var(--cor1);
    display: block;
    padding: 20px;
    text-decoration: none;
}

.bottom-header nav ul li a:hover {
    color: var(--cor2);
    text-decoration: underline;
    transition: .3s;
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    background-color: var(--cor0);
    height: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: .5s;
}

.drop-hover:hover .drop {
    height: 260px;
    border-radius: 0px 0px 20px;
    /* border: 2px solid var(--cor1); */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.46);
}

.top-header .btn-header .btn-zap {
    color: springgreen;
}

.top-header .btn-header .btn-zap:hover {
    color: var(--cor1);
}

.top-header .btn-header button:hover {
    background-color: springgreen;
}


article {
    /* background-color: #0B3954; */
    border: 1px solid #000;
}

p {
    /* padding: 10px; */
    margin: 10px;
    color: #5C676D;
}

h3 {
    color: var(--cor4);
}

.img-grid {
    max-width: 200px;
}


.grid-wrapper > * {
    align-items: center;
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    min-height: 350px;
}

.grid-wrapper {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 600px 1fr;
    padding: 30px;
}


/* .grid-wrapper > main {
    background-color: #ccc;
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    text-align: center;
} */

