@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: darkgray;
}

header {
    background-color: black;
}

header > h1 {
    color: white;
    padding: 10px;
    text-align: center;
}

header > p {
    color: white;
    position: absolute;
    right: 20px;
    top: 50px;
}

header > nav {
    padding: 10px;
    display: none;
}

header > span#iconMenu {
    color: white;
    padding-bottom: 10px;
    padding-left: 20px;
    display: block;
}

header > nav > a {
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

header > a > span {
    color: chartreuse;
    position: absolute;
    right: 60px;
    top: 20px;
}

main > section {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 90vw;
}

footer {
    color: white;
    background-color: black;
    padding: 15px;
    text-align: center;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer> p > a:hover {
    color: rgba(13, 160, 179, 0.863);
    text-decoration: underline;
    transition: .5s;
}