@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf) format('opentype');
}

:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', cursive;
    --fonte-sora: 'Sora', cursive;
    --fonte-destaque: 'FonteLogo', cursive;   
}

* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor0);
}

.top-header {
    background-color: #fff;
    padding: 20px 4%;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-header .btn-social button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    transition: .5s;
    width: 40px;
}

.top-header .btn-social button:hover {
    background-color: var(--cor4);
}

/* Estilo Bottom Header */

.bottom-header nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bottom-header nav ul li a {
    color: var(--cor1);
    display: block;
    /* font-weight: 700; */
    padding: 20px;
    text-decoration: none;
    transition: .5s;
}

.bottom-header nav ul li a:hover {
    color: var(--cor2);
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    background-color: var(--cor0);
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.drop-hover:hover .drop {
    height: 250px;
}





















/* 

* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

header {
    background-color: var(--cor0);
}

.top-header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-header .logotipo img {
    max-width: 150px;
}

.top-header {
    background-color: #fff;
    padding: 20px;
}

.top-header .btn-header button {
    background-color: transparent;
    border: 1px solid var(--cor1);
    border-radius: 50%;
    height: 50px;
    transition: .5s;
    width: 50px;
}

.top-header .btn-header button:hover {
    background-color: var(--cor2);
}

.top-header .btn-header button a {
    color: var(--cor1);
    font-size: 20px;
    padding: 13px;
}

.top-header .btn-header button a:hover {
    color: var(--cor4);
}

.bottom-header nav ul {
    align-items: center;
    border-top: 1px solid #3b280d;
    border-bottom: 1px solid #3b280d;
    box-shadow: 1px 1px 1px #00000098;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 50px;
}

.bottom-header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.bottom-header .a-drop {
    padding: 20px;
}

.bottom-header nav ul li a {
    border-right: 0.5px solid #cfcfcfc9;
    color: var(--cor1);
    font-weight: 600;
    display: block;
    padding: 0px 20px;
    text-decoration: none;
}

.bottom-header nav ul li a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

.drop-hover {
    position: relative;
}

.drop {
    background-color: var(--cor0);
    height: 0;
    position: absolute;
    overflow: hidden;
    transition: .5s;
}

.drop-hover:hover .drop {
    border-radius: 0px 0px 20px;
    box-shadow: 2px 2px 2px #00000098;
    height: 250px;
}



.flex {
    display: flex;
    align-items: center;
}

.product {
    background-color: var(--cor2);
    height: 360px;
    width: 360px;
    margin-bottom: 30px;
}

.product img {
    max-width: 300px;
}

.produtos .flex {
    justify-content: space-around;
    gap: 30px;
}

.product img:hover {
    transform: 1.05;
}
 */
