@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/bubblegum-sans-regular.otf) format('opentype');
}

:root {
    --cor0: #f2f2f2;
    --cor1: #0B3954;
    --cor2: #5071D5;
    --cor3: #5C676D;
    --cor4: #FFB128;
    --cor5: #3b280d;
    --fonte-padrao: Arial, Verdana, Helveticam sans-serif;
    --fonte-poppins: 'Poppins', cursive;
    --fonte-sora: 'Sora', cursive;
    --fonte-destaque: 'FonteLogo', cursive;   
}

/* Estilos Geral */
* {
    box-sizing: border-box;
    font-family: var(--fonte-sora);
    margin: 0;
    padding: 0;
}

.interface {
    max-width: 80vw;
    margin: 0 auto;
}

.menu-desk {display: none;}
.btn-social {display: none;}
#logoS {display: block;}
#logoM {display: none;}
#logoG {display: none;}

/* Estilo Top-Header */

header {
    background-color: var(--cor0);
}

.top-header .interface {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-header {
    background-color: #fff;
    box-shadow: 1px 1px 2px #000000ab;
    padding: 20px 4%;
}

.top-header .btn-social button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    transition: .5s;
    width: 40px;
}

.top-header .btn-social button:hover {
    background-color: var(--cor4);
    box-shadow: 1px 1px 4px #00000094;
}

/* Estilo Bottom-Header */

.bottom-header .menu-desk nav ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.bottom-header .menu-desk nav ul li a {
    color: var(--cor1);
    display: block;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    transition: .4s;
}

.bottom-header .menu-desk nav ul li a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

.drop-hover {
    position: relative;
}

.drop-hover .drop {
    background-color: var(--cor0);
    position: absolute;
    height: 0;
    overflow: hidden;
}

.drop-hover:hover .drop {
    box-shadow: 2px 2px 2px #0000009d;
    border-radius: 0 0 15px;
    height: 170px;
}


/* Estilo Menu Mobile */

.top-header .btn-menu-mobile button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 35px;
    height: 40px;
    width: 40px;
}

.menu-mobile {
    background-color: #0000008c;
    backdrop-filter: blur(10px);
    height: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    transition: .6s;
    top: 50;
    visibility: hidden;
    width: 50%;
}

.menu-mobile.abrir{
    visibility: visible;
    height: calc(100vh - 83px);
}

.menu-mobile nav ul {
    list-style-type: none;
}

.menu-mobile nav ul li a {
    color: var(--cor0);
    display: block;
    padding: 20px 30px;
    text-decoration: none;
    transition: .4s;
}

.menu-mobile nav ul li a:hover {
    background-color: #0000008a;
    color: var(--cor4);
}


/* GRIDS */
.flex {
    display: flex;
    align-items: center;
}

.product {
    background-color: var(--cor2);
    height: 360px;
    width: 360px;
    margin-bottom: 30px;
}

.product img {
    max-width: 300px;
}

.produtos .flex {
    justify-content: space-around;
    gap: 30px;
}

.product img:hover {
    transform: 1.05;
}
 */
